@import './../variables';
@import './../mixins';
@import '../../styles/breakpoints.scss';

.projects {
    padding-top: 108px;
    padding-bottom: 208px;
    position: relative;

    @include screen-lt("md") {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    &:before {
        @include decore($content: true, $h: 15.3%, $w: 20.9%, $l: 10%,  $t: 26.4%, $brdr: 200px);
        filter: blur(100px);
        background: linear-gradient(273deg, rgba(245, 201, 116, 0.45) 0%, rgba(242, 55, 246, 0.45) 22.5%, rgba(246, 181, 55, 0.45) 22.51%, rgba(242, 55, 246, 0.45) 47.5%, rgba(246, 141, 255, 0.45) 100%);
        transform: rotate(78deg);

        @include screen-lt("md") {
            -webkit-filter: blur(30px);
            filter: blur(30px);
        }
    }

    &:after {
        @include decore($content: true, $h: 13.3%, $w: 20.9%, $l: -9.6%,  $b: 2%, $brdr: 200px);
        filter: blur(200px);
        background: linear-gradient(273deg, rgba(3, 104, 255, 0.46) 0%, rgba(116, 55, 246, 0.76) 37.1%, rgba(246, 141, 255, 0) 100%);       
        will-change: transform;
        transform: rotate(140deg);

        @include screen-lt("md") {
            -webkit-filter: blur(30px);
            filter: blur(30px);
        }
    }
}

.decore_1 {
    @include decore($h: 20.2vw, $w: 14.8vw, $r: 14.6%, $b: -2.34%);
    background: url(../../assets/dots.svg) top center/contain no-repeat;
    z-index: -1;
    opacity: 0.4;
    transform: rotate(90deg);

    @include screen-lt("md") {
        width: 200px;
        height: 300px;
    }
}

.title {
    font-size: 118px;
    text-align: right;
    margin-right: 188px;

    @include screen-lt("lg") {
        font-size: 100px;
        text-align: left;
        margin-right: 0;
    }

    @include screen-lt("md") {
        font-size: 10vw;
    }
}

.wrapper {
    margin-top: 139px;

    @include screen-lt("lg") {
        margin-top: 100px;
    }

    @include screen-lt("md") {
        margin-top: 40px;
    }
}