@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/breakpoints.scss';

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    position: absolute;
    right: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 100;

    @include screen-lt("lg") {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: static;
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

.socialBtn {
    color: $color-1;
    @include screen-lt("lg") {
        color: $color-5;
    }
}