@import '@/styles/breakpoints';

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    position: absolute;
    right: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 100;

    @include screen-lt("xl") {
        right: 60px;
    }

    @include screen-lt("lg") {
        flex-direction: row;
        position: static;
        column-gap: 30px;
        transform: none;
    }
}
