@import './../variables';
@import './../mixins';
@import '@/styles/breakpoints.scss';

.about {
    padding-top: 178px;
    padding-bottom: 178px;
    position: relative;

    @include screen-lt("lg") {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &:before {
        @include decore($content: true, $h: 64.1%, $w: 26.6%, $t: 4.7%, $r: calc(100% + 8.7%), $brdr: 800px);
        background-color: $color-2;
        -webkit-filter: blur(800px);
                filter: blur(800px);


            @include screen-lt("md") {
                -webkit-filter: blur(100px);
                filter: blur(100px);
            }
    }

    &:after {
        @include decore($content: true, $h: 64.1%, $w: 40.3%, $r: calc(100% + 1.94%), $t: 88%, $brdr: 800px);
        background-color: $color-2;
        -webkit-filter: blur(800px);
                filter: blur(800px);


            @include screen-lt("md") {
                -webkit-filter: blur(100px);
                filter: blur(100px);
            }
    }
}


.decore_1 {
    @include decore($h: 38.1%, $w: 52.8%, $t: 26.3%, $r: -24.5%, $brdr: 200px);
    -webkit-filter: blur(200px);
            filter: blur(200px);
    background: -o-linear-gradient(177deg, rgba(3, 104, 255, 0.45) 0%, rgba(116, 55, 246, 0.45) 37.1%, rgba(246, 141, 255, 0.45) 100%);
    background: linear-gradient(273deg, rgba(3, 104, 255, 0.45) 0%, rgba(116, 55, 246, 0.45) 37.1%, rgba(246, 141, 255, 0.45) 100%);
    @include screen-lt("md") {
        -webkit-filter: blur(100px);
        filter: blur(100px);
    }
}

.decore_2 {
    @include decore($h: 38.1%, $w: 52.8%, $b: 13.5%, $r: -10.9%);
    &:before {
        @include decore($content: true, $h: 100%, $w: 100%, $b: 0, $r: 0, $brdr: 200px);
        -webkit-filter: blur(200px);
                filter: blur(200px);
        background: -o-linear-gradient(177deg, rgba(245, 201, 116, 0.45) 0%, rgba(242, 55, 246, 0.45) 22.5%, rgba(246, 181, 55, 0.45) 22.51%, rgba(242, 55, 246, 0.45) 47.5%, rgba(246, 141, 255, 0.45) 100%);
        background: linear-gradient(273deg, rgba(245, 201, 116, 0.45) 0%, rgba(242, 55, 246, 0.45) 22.5%, rgba(246, 181, 55, 0.45) 22.51%, rgba(242, 55, 246, 0.45) 47.5%, rgba(246, 141, 255, 0.45) 100%);
        @include screen-lt("md") {
            -webkit-filter: blur(100px);
            filter: blur(100px);
        }
    }
}

.decore_3 {
    @include decore($h: 12.2vw, $w: 14.8vw, $r: 2.6%, $b: -2.34%);
    background: url(../../assets/dots.svg) top center/contain no-repeat;
    z-index: 2;
    opacity: 0.6;

    @include screen-lt("lg") {
        right: initial;
        left: 8vw;
        bottom: initial;
        top: 30vw;
    }

    @include screen-lt("md") {
        top: 40vw;
    }
}

.decore_4 {
    @include decore($h: 38.1%, $w: 52.8%, $b: 0, $l: -34.5%, $brdr: 200px);
    -webkit-filter: blur(200px);
            filter: blur(200px);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: -o-linear-gradient(177deg, rgba(3, 104, 255, 0.45) 0%, rgba(116, 55, 246, 0.45) 37.1%, rgba(246, 141, 255, 0.45) 100%);
    background: linear-gradient(273deg, rgba(3, 104, 255, 0.45) 0%, rgba(116, 55, 246, 0.45) 37.1%, rgba(246, 141, 255, 0.45) 100%);
}

.photoBox {
    border-radius: 50%;
    width: 39.9vw;
    max-width: 575px;
    aspect-ratio: 1/1;
    position: relative;

    @include screen-lt("lg") {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.photo {
    width: 100%;
    height: auto;
}

.smallBall {
    bottom: 7%;
    left: 1.56%;
    width: 20.8%;
    height: 18.71%;

    @include screen-lt("lg") {
        bottom: 80%;
    }
}

.wrap {
    margin-left: -60px;
    margin-bottom: 164px;
    max-width: 34em;
    z-index: 2;
    @include screen-lt("lg+") {
        max-width: 26em;
        margin-bottom: 100px;
    }

    @include screen-lt("lg") {
        margin-left: auto;
        margin-top: -10vw;
        margin-bottom: 0;
    }

}
.textContent {
    font-family: 'Inter-Medium';
    line-height: 1.75;
    letter-spacing: 0.05em;
   
    @include screen-lt("lg") {
        line-height: 1.5;
    }
}

.contentBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;


  @include screen-lt("lg") {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btnContact {
    top: 179px;
    margin-left: 10vh;

    @include screen-lt("lg+") {
        top: 114px;
    }

    @include screen-lt("lg") {
        top: 0;
        margin-top: 50px;
        margin-left: 0;
      }
}