@import 'normalize.css';
@import './variables';
@import '../styles/breakpoints';

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/K2D-ExtraBold.woff2") format("woff2"),
       url("../fonts/K2D-ExtraBold.woff") format("woff");
}


@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

body {
    background-color: $color-1;
    color: $color-2;
    font-size: 20px;
    font-family: 'Inter';

    @include screen-lt("md") {
      font-size: 18px;
  }
}

h1 {
  font-family: 'K2D';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter-Bold';
    margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
}

p {
    margin-bottom: 0;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 108px;
    padding-right: 108px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    @include screen-lt("xl") {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include screen-lt("md") {
      padding-left: 20px;
      padding-right: 20px;
  }
}