@import './../variables';
@import './../mixins';
@import '../../styles/breakpoints.scss';

.greeting {
    height: 100vh;
    position: relative;

    @include screen-lt("md") {
        height: auto;
    }

    &:before {
        @include decore($content: true, $h: 609px, $w: 383px, $r: 100%, $t: 50%, $brdr: 800px);
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color: $color-2;
        -webkit-filter: blur(800px);
                filter: blur(800px);
        opacity: 0.5;
    }

    &:after {
        @include decore($content: true, $h: 362px, $w: 761px, $r: -150px, $t: -75px, $brdr: 200px);
        background: -o-linear-gradient(
        left,
        #032CFF 0%,
        #378FF6 37%,
        #378FF6 76%,
        #7E91F3 100%
        );
        background: -webkit-gradient(
        linear,
        left top, right top,
        from(#032CFF),
        color-stop(37%, #378FF6),
        color-stop(76%, #378FF6),
        to(#7E91F3)
        );
        background: linear-gradient(
        to right,
        #032CFF 0%,
        #378FF6 37%,
        #378FF6 76%,
        #7E91F3 100%
        );
        -webkit-filter: blur(200px);
                filter: blur(200px);
      
        opacity: 0.5;

        @include screen-lt("md") {
            width: 100%;
            height: 33%;
            top: 0;
        }
    }
}

.decore_1 {
    @include decore($h: 362px, $w: 761px, $r: -192px, $t: 224px);
    background: -o-linear-gradient(
    left,
    #8103FF 0%,
    #8103FF 37%,
    #BF83FB 100%,
    #d6bcf0 100%
    );
    background: -webkit-gradient(
    linear,
    left top, right top,
    from(#8103FF),
    color-stop(37%, #8103FF),
    color-stop(100%, #BF83FB),
    to(#d6bcf0)
    );
    background: linear-gradient(
    to right,
    #8103FF 0%,
    #8103FF 37%,
    #BF83FB 100%,
    #d6bcf0 100%
    );
    -webkit-filter: blur(200px);
            filter: blur(200px);
    opacity: 0.5;


    @include screen-lt("md") {
        width: 100%;
        height: 33%;
        top: 33%;
        right: 0;
    }
}

.decore_2 {
    @include decore($h: 362px, $w: 761px, $r: -221px, $t: 405px);
    background: -o-linear-gradient(
    left,
    #EB03FF 0%,
    #F237F6 37%,
    #BF83FB 76%,
    #F68DFF 100%
    );
    background: -webkit-gradient(
    linear,
    left top, right top,
    from(#EB03FF),
    color-stop(37%, #F237F6),
    color-stop(76%, #BF83FB),
    to(#F68DFF)
    );
    background: linear-gradient(
    to right,
    #EB03FF 0%,
    #F237F6 37%,
    #BF83FB 76%,
    #F68DFF 100%
    );
    -webkit-filter: blur(200px);
            filter: blur(200px);
    opacity: 0.5;

    @include screen-lt("md") {
        width: 100%;
        height: 33%;
        top: 20%;
        right: 0;
    }
}

.decore_3 {
    @include decore($h: 362px, $w: 761px, $r: -168px, $b: -35px);
    background: -o-linear-gradient(
    left,
    #F5C974 0%,
    #F237F6 22%,
    #F6B537 23%,
    #F237F6 47%,
    #F68DFF 100%
    );
    background: -webkit-gradient(
    linear,
    left top, right top,
    from(#F5C974),
    color-stop(22%, #F237F6),
    color-stop(23%, #F6B537),
    color-stop(47%, #F237F6),
    to(#F68DFF)
    );
    background: linear-gradient(
    to right,
    #F5C974 0%,
    #F237F6 22%,
    #F6B537 23%,
    #F237F6 47%,
    #F68DFF 100%
    );
    -webkit-filter: blur(200px);
            filter: blur(200px);
    opacity: 0.5;

     @include screen-lt("md") {
        width: 100%;
        height: 33%;
        right: 0;
    }
}

.title_1 {
    font-size: 150px;
    letter-spacing: 0.01em;

    @include screen-lt("lg") {
        margin-bottom: 0;
        font-size: 20vw;
    }
}

.about {
    margin-bottom: 10vh;

    @include screen-lt("lg") {
        margin-bottom: 0;
    }
}

.text {
    font-size: 1.25em;
    max-width: 15em;
    letter-spacing: 0.05em;
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;

    @include screen-lt("lg") {
        margin-top: 10vw;
    }

    &:before {
        content: '';
        width: 5px;
        height: 120px;
        display: block;
        background: url(./../../assets/line.svg) center/cover no-repeat;
    }
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;

    @include screen-lt("lg+") {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 30px;
      }
}