@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/breakpoints.scss';

.btnContact {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: 'Inter-Bold';
    font-size: 24px;
    padding: 14px 33px;
    border-radius: 50px;
    background-color: $color-3;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    @include screen-lt("md") {
        font-size: 20px
    }

    &:hover {
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

        &:after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                -ms-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        -webkit-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
                transform: translateY(-1px);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: inherit;
        -webkit-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
    }    
}