@import '@/styles/variables';

.text {
    font-size: 46px;
    letter-spacing: 0.01em;
    font-family: 'Inter-Bold';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;

    &:before {
        content: '';
        background: url(@/assets/download.svg) center/cover no-repeat;
        width: 31px;
        height: 31px;
        display: block;
    }
}

.downloadBtn {
    color: $color-2;
    text-decoration: none;
    background-color: $color-5;
    width: 127px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 0 rgba(246, 141, 255, 0.36);
            box-shadow: 0 0 0 rgba(246, 141, 255, 0.36);
    -webkit-animation: pulse 3s infinite;
            animation: pulse 3s infinite;

    :hover {
        -webkit-animation: none;
                animation: none;
    }

    &:before {
        content: '';
        position: absolute;
        inset: -12px;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        border: 12px solid  rgba(246, 141, 255, 0.36);
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(246, 141, 255, 0.36);
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(246, 141, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(246, 141, 255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(246, 141, 255, 0.36);
              box-shadow: 0 0 0 0 rgba(246, 141, 255, 0.36);
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(246, 141, 255, 0);
                box-shadow: 0 0 0 40px rgba(246, 141, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(246, 141, 255, 0);
                box-shadow: 0 0 0 0 rgba(246, 141, 255, 0);
    }
  }